@use "../utils/variables" as *;
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: var(--text-color);
}

input {
  color: var(--text-color);
}
ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  padding: 0;
}

table {
  border-collapse: collapse !important;
  border-spacing: 0 24px !important;
  width: 100%;
}
tr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 0.5px solid var(--border-color);
}
td,
th {
  border: none;
}
