@use "./variables" as *;

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.page_title {
  font-size: $font-large;
  font-weight: bold;
}

.link {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: bold;
}

.flex {
  display: flex;
}

.flex-right {
  justify-content: right;
}
.flex-left {
  justify-content: flex-start;
}

.gap-1 {
  gap: 20px;
}

.gap-2 {
  gap: 2;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
@media screen and (max-width: $breakpoint-mobile) {
  .page_title {
    font-size: $font-medium;
  }
}
