@use "../utils/variables" as *;

.barchart {
  background-color: var(--primary-color);
  padding: 1rem;
  margin: 1rem;
}

.chart__title {
  font-size: $font-medium;
  font-weight: bold;
  margin-bottom: 1rem;
}
.chart__container {
  width: 100%;
  height: 300px;
}
