@use "../utils/variables" as *;

.barchart {
  background-color: var(--primary-color);
  padding: 1rem;
  margin: 1rem;
}

.chart__title {
  font-size: $font-desktop-subsection-title;
  font-weight: 600;
  margin-bottom: 1rem;
  line-height: 130%;
}
.chart__container {
  width: 100%;
  height: 300px;
}

@media screen and (max-width: $breakpoint-mobile) {
  .chart__title {
    font-size: $font-mobile-subsection-title;
    line-height: 130%;
  }
}
