@use "../utils/variables" as *;

.primary-button,
.secondary-button {
  min-width: 260px;
}
.primary-button {
  background-color: var(--secondary-color);
  padding: 12px;
  border-radius: 0.5rem;
  border-width: 1px;
  margin: 0.5rem;
  color: var(--text-button-color);
}

.secondary-button {
  padding: 12px;
  border-radius: 0.5rem;
  border-width: 0px;
  margin: 0.5rem;
  border: 1px solidvar(--secondary-color);
  background-color: var(--hover-color);
  color: var(--secondary-color);
  font-weight: bold;
}

.tag-button {
  padding: 0.4rem 0.6rem;
  border-radius: 1rem;
  border-width: 0;
  margin: 0.5rem;
  color: var(--text-button-color);
  font-weight: bold;

  &.small {
    font-size: $font-small;
    padding: 0.2rem 0.4rem;
  }
}

.add-button-transaction {
  margin-left: 2rem;
}

.income {
  background-color: $accent-positive-color;
  color: $positive-color;
}

.expense {
  background-color: $accent-negative-color;
  color: $negative-color;
}
.transport,
.salary {
  background-color: #ff6384;
}

.rent {
  background-color: #36a2eb;
}

.others {
  background-color: #ffce56;
}
.food {
  background-color: #4caf50;
}

.entertainment {
  background-color: #9966ff;
}

.icon-button {
  background-color: transparent;
}

@media screen and (max-width: $breakpoint-mobile) {
  .add-button-transaction {
    margin-left: 0.5rem;
  }
}
