@use "../utils/variables" as *;

.change-password__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.change-password__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem;
}

.change-password__info {
  color: gray;
  font-size: 1rem;
}

.change-password__form {
  padding: 1rem;
  justify-content: center !important;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: $breakpoint-mobile) {
  .change-password__body {
    flex-direction: column;
    justify-content: center;
  }
}
