@use "../utils/variables" as *;

.dropdown {
  position: relative;
  max-width: 240px;
  border: 1px solid;
  padding: 0 0.75rem;
  border-radius: 0.5rem;
  background-color: $primary-color;
  margin: 0.5rem;
}

.dropdown__button {
  border-width: 0px;
  background-color: $primary-color;
  min-width: 240px;
  padding: 0.75rem 0;
}

.dropdown__button__selected-item {
  display: flex;
  justify-content: space-between;
}
.dropdown__list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  background-color: $primary-color;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.dropdown__list__item {
  padding: 0.75rem;
  cursor: pointer;
}
