.error-fallback-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
  margin-right: 3rem;
}
.error-message__header {
  font-size: 1.5rem;
}
.error-message__content {
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
