@use "../utils/variables" as *;

.input-field,
.search-field {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid;
  min-width: 240px;
  margin: 0.5rem;
  background-color: $primary-color;
}

@media screen and (max-width: $breakpoint-mobile) {
  .search-field {
    padding: 12px 0px 12px 12px;
  }
}
