@use "../utils/variables" as *;
.password-input-wrapper {
  position: relative;
  width: 100%;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
  font-size: 12px;
  border-width: 0;
  background-color: var(--primary-color);
  color: var(--text-color);
  margin-right: 1rem;
}
