@use "../utils/variables" as *;

.account__container {
  display: flex;
  flex-direction: column;
}
.account__profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
}

.account__profile-content {
  padding: 2rem;
}
.account__profile-input {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}
.account__profile-header {
  font-size: $font-large;
  font-weight: bold;
}
.account__logout {
  display: flex;
  gap: 0.5rem;
  padding: 0 2rem;
  cursor: pointer;
}

@media screen and (max-width: $breakpoint-mobile) {
  .account__profile {
    flex-direction: column;
    border-bottom: 1px solid var(--border-color);
  }
  .account__profile-content {
    padding: 1rem;
  }
}
