@use "../utils/variables" as *;

.budgets__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

.budgets__option-view {
  margin: 1rem 1rem 1rem 0;
}

@media screen and (max-width: $breakpoint-mobile) {
  .budgets__grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
