@use "../utils/variables" as *;

.dashboard {
  display: flex;
  flex-direction: column;
}

.dashboard-filter {
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
}

.dashboard-filter__item {
  margin: 0 1rem;
  list-style: none;
  cursor: pointer;
  &.active {
    font-weight: bold;
    border-bottom: 2px solid $secondary-color;
    color: $secondary-color;
    padding-bottom: 0.5rem;
  }
}

.dashboard-summary {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.dashboard-summary__item {
  padding: 1rem 2rem;
  border: 1px solid $border-color;
  background-color: $primary-color;
  border-radius: 0.5rem;
}

.total-amount {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  width: 200px;
}

.dashboard-summary__item__details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.summary-text {
  font-size: small;
  text-align: left;
}

.dashboard__chart {
  list-style: none;
  display: none;
  &.active {
    display: flex;
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .dashboard {
    margin-top: 3rem;
  }
  .dashboard-filter {
    flex-direction: column;
  }
  .dashboard-filter__item {
    margin: 0.5rem 1rem;
    &.active {
      border-bottom: 2px solid transparent;
    }
  }
  .dashboard-summary {
    flex-direction: column;
  }
  .dashboard-summary__item {
    padding: 1rem;
  }
}
