@use "../utils/variables" as *;

.dashboard {
  display: flex;
  flex-direction: column;
}

.dashboard-filter {
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
}

.dashboard-filter__item {
  margin: 0 1rem;
  list-style: none;
  cursor: pointer;
  &.active {
    font-weight: bold;
    border-bottom: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    padding-bottom: 0.5rem;
  }
}

.dashboard-summary {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.dashboard__item,
.dashboard-summary__item {
  padding: 1rem 2rem;
  border: 1px solid var(--border-color);
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.auto-fill {
  flex-grow: 1;
  flex-shrink: 1;
}
.dashboard__wrapper {
  display: flex;
  gap: 1rem;
  flex-direction: row;
}
.total-amount {
  font-size: $font-desktop-subsection-title;
  font-weight: bold;
  text-align: left;
  width: 200px;
}

.dashboard-summary__item__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.summary-text {
  font-size: $font-desktop-subsection-title;
  text-align: left;
}

.dashboard__chart {
  list-style: none;
  display: none;
  &.active {
    display: flex;
  }
}

.custom-card {
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: 0.75rem;
  margin: 1rem;
  border: 1px solid var(--border-color);
}

.custom-tooltip__container {
  background-color: var(--border-color);
  border: 1px solid var(--border-color);
  padding: 8px 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.custom-tooltip__key {
  color: var(--text-color);
  margin: 0;
  font-size: 13px;
  font-weight: 600;
}

.custom-tooltip__value {
  color: var(--text-color);
  margin: 0;
  font-size: 13px;
}

@media screen and (max-width: $breakpoint-mobile) {
  .dashboard {
    margin-top: 3rem;
  }
  .dashboard-filter {
    flex-direction: column;
  }
  .dashboard-filter__item {
    margin: 0.5rem 1rem;
    &.active {
      border-bottom: 2px solid transparent;
    }
  }
  .dashboard-summary {
    flex-direction: column;
    margin: 1rem;
    gap: 0.5rem;
  }
  .dashboard-summary__item {
    padding: 0.5rem 1ren;
    margin-bottom: 0.5rem;
  }
  .custom-card {
    padding: 0.5rem;
    margin: 1rem 0.5rem;
  }
  .total-amount {
    font-size: $font-mobile-subsection-title;
  }
  .summary-text {
    font-size: $font-mobile-subsection-title;
  }

  .dashboard__item {
    padding: 0.5rem 0.5rem;
  }
  .dashboard__wrapper {
    flex-direction: column;
    gap: 0.5rem;
  }

  .auto-fill {
    flex-grow: 1;
    flex-shrink: 0;
  }
}
