@use "../utils/variables" as *;

.forgot-password__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.forgot-password__title {
  font-size: $font-desktop-title;
  font-weight: bold;
  margin: 1rem;
}

.forgot-password__info {
  color: $disabled-color;
}

.forgot-password__form {
  padding: 1rem;
  justify-content: center !important;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: $breakpoint-mobile) {
  .forgot-password__body {
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    margin: 2rem;
  }

  .forgot-password__title {
    font-size: $font-mobile-title;
  }
  .forgot-password__info {
    font-size: $font-mobile-content;
    text-align: center;
  }
}
