@use "../utils/variables" as *;

.signup__info {
  padding: 2rem;
}
.signup__info__logo {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.signup__info__logo {
  font-weight: bold;

  &.name {
    color: var(--secondary-color);
  }
}

.signup__body {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3;
  justify-content: space-around;
}
.signup__form {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: $breakpoint-mobile) {
  .signup__body {
    flex-direction: column;
    justify-content: center;
  }
}
