@use "../utils/variables" as *;

.signup__form__field {
  margin: 0.5rem;
}

.signup__form input {
  padding: 12px;
  border-radius: 8px;
  border-width: 1px;
}

.signup__form input {
  min-width: 240px;
}
