@use "../utils/variables" as *;
.table-cell {
  padding: 0.5rem 1rem;
}

.table-cell__icon {
  margin: 0.5rem;
}

.table-head {
  font-weight: 700;
}

.link {
  color: $secondary-color;
}

.transaction-filter {
  display: flex;
  flex-direction: row;
  padding: 1rem 0rem;
}
