@use "../utils/variables" as *;

.table-row {
  background-color: var(--primary-color);
}
.table-cell {
  padding: 1rem 1rem;
  margin: 1rem;
}

.table-cell__icon {
  margin: 0.5rem;
}

.table-head {
  padding-top: 1rem !important;
  font-weight: 700;
}

.link {
  color: var(--secondary-color);
}

.transactions-container {
  display: flex;
  justify-content: center;
}

.empty-transactions {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  width: 60vw;
  justify-content: center;
}

.empty-transactions__text {
  padding: 1rem;
  text-align: center;
}

.transactions {
  display: flex;
  flex-direction: column;
}

.transaction-filter {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
}

.transaction-filtered-count {
  text-align: right;
  font-size: $font-medium;
  margin: 1rem 1rem 2rem 1rem;
  font-size: small;
}

@media screen and (max-width: $breakpoint-mobile) {
  .transaction-filter {
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem;
  }
  .empty-transactions {
    justify-content: center;
    width: 90vw;
  }
  .transactions-container {
    display: block;
    margin-top: 2rem;
  }
}
