@use "../utils/variables" as *;

.transaction-desktop {
  display: flex;
  justify-content: center;
  width: 100%;
}

.transaction-mobile {
  display: none;
}

.table-row {
  background-color: var(--primary-color);
}
.table-cell {
  padding: 1rem 1rem;
  margin: 1rem;
}

.amount-expense {
  color: $negative-color;
  font-weight: bold;
  text-align: center !important;
}
.amount-income {
  color: $positive-color;
  font-weight: bold;
  text-align: center !important;
}

.table-cell__icon {
  margin: 0.5rem;
  &.edit {
    color: #6b7280;
  }
  &.delete {
    color: #ef4444;
  }
}

.table-head {
  padding-top: 1rem !important;
  font-weight: 600;
}

.link {
  color: var(--secondary-color);
}

.empty-transactions {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  width: 60vw;
  justify-content: center;
}

.empty-transactions__text {
  padding: 1rem;
  text-align: center;
}

.transactions {
  display: flex;
  flex-direction: column;
}

.transaction-filter {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
}

.transaction-filtered-count {
  text-align: right;
  font-size: $font-medium;
  margin: 1rem 1rem 2rem 1rem;
  font-size: small;
}

.transaction-category__wrapper {
  display: flex;
  align-items: center;
  flex-direction: center;
  flex-direction: row;
  justify-content: left;
  gap: 4px;
  display: "flex";
}

.transaction-category__details {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.transaction-id {
  text-decoration: none;
  color: gray;
  font-size: 14px;
}

.transaction-amount {
  font-size: 18px;
}

.transaction-card {
  border: 1px solid var(--border-color);
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 0.75rem;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: $breakpoint-mobile) {
  .transaction-desktop {
    display: none;
  }

  .transaction-mobile {
    display: block;
  }

  .transaction-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0rem;
  }
  .empty-transactions {
    justify-content: center;
    width: 90vw;
  }

  .transaction-card {
    padding: 1rem 0.5rem;
    margin: 0.5rem 0;
  }

  .transaction-id {
    font-size: 12px;
  }

  .transaction-category__wrapper {
    width: 50%;
    display: "flex";
  }

  .transaction-category {
    font-weight: bold;
  }

  .transaction-amount__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: right;
  }
  .transaction-amount {
    font-size: 16px;
    font-weight: bold;
  }
  .transaction-date {
    font-size: 12px;
    color: gray;
  }
}
