.auth__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  //background-image: url("/vector2.png");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

.auth__header {
  display: flex;
  align-items: center;
  padding: 1rem 0 0 1rem;
}

.auth__logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: inherit;
}
