@use "../utils/variables" as *;
.bottom-bar {
  display: none;
}
@media screen and (max-width: $breakpoint-mobile) {
  .bottom-bar {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
  .bottom-bar-menus {
    display: flex;
    list-style: none;
    background-color: var(--primary-color);
    justify-content: space-evenly;
  }

  .bottom-bar-menu {
    font-size: $font-mobile-section-title;
    padding: 1rem;
    &.active {
      color: #3459d4;
    }
  }
}
