@use "../utils/variables" as *;

.content {
  width: 75%;
  background-color: var(--background-color);
  padding: 1.5rem;
  min-height: 100vh;
  justify-content: center;
}

.content__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}

.content__title {
  font-size: $font-large;
  font-weight: bold;
}
.content__body {
  padding: 1rem;
}

@media screen and (max-width: $breakpoint-mobile) {
  .content {
    width: 100%;
    overflow-y: auto;
  }

  .content__container {
    margin-top: 2rem;
    padding: 0;
  }
  .content__body {
    padding: 0.5rem;
  }
}
