@use "../utils/variables" as *;

.content {
  width: 75%;
  background-color: $background-color;
  padding: 1.5rem;
  min-height: 100vh;
}

.content__container {
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
}

@media screen and (max-width: $breakpoint-mobile) {
  .content {
    width: 100%;
    overflow-y: auto;
  }
}
