@use "../utils/variables" as *;

.header {
  display: flex;
  flex-direction: row;
  background-color: var(--background-color);
  justify-content: end;
  gap: 30px;
}

.header__item {
  list-style: none;
  margin: 1rem;
}

@media screen and (max-width: $breakpoint-mobile) {
  .header__item {
    margin: 2rem 1rem;
  }
}
