@use "../utils/variables" as *;

.header {
  display: flex;
  flex-direction: row;
  background-color: $background-color;
  justify-content: end;
}

.header__item {
  list-style: none;
  margin: 1rem;
}
