@use "../utils/variables" as *;

.sidebar {
  width: 20%;
  background-color: var(--primary-color);
  z-index: 10;
  position: sticky;
  top: 0;
  align-self: flex-start;
}

.sidebar-container {
  height: 100vh;
  display: flex;
  align-items: left;
  flex-direction: column;
  width: 100%;
}

.sidebar-container__header {
  text-align: center;
  padding: 1rem;
}

.sidebar-container__menu {
  padding: 1rem 2rem;
  flex: 1;
  overflow-y: auto;
}

.sidebar-container__item {
  list-style: none;
  text-align: left;
  padding: 0.75rem 2rem;
  color: var(--text-color);
  margin-top: 1rem;
}

.sidebar-container-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: large;
}

.sidebar-container__item.active {
  color: var(--secondary-color);
  background-color: var(--border-color);
  border-radius: 0.5rem;
}

.sidebar-container__item:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

.sidebar__bottom {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  border-top: 1px solid var(--border-color);
  justify-content: center;
  align-items: center;
}

.sidebar-collapse-menu {
  padding: 1rem;
  display: none;
}

@media screen and (max-width: $breakpoint-desktop) {
  .sidebar {
    width: 10%;
  }
}
@media screen and (max-width: $breakpoint-tablet) {
  .sidebar {
    width: 30%;
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .sidebar {
    position: fixed;
    z-index: 10;
    width: 100%;
  }

  .sidebar-container.open {
    display: block;
    width: 100%;
    z-index: 10;
    border: solid 1px #ebebeb;
    margin: 0rem;
  }

  .sidebar-container.close {
    display: none;
  }

  .sidebar-collapse-menu {
    display: block;
    width: 200px;
  }
}
