@use "../utils/variables" as *;

.sidebar {
  width: 20%;
  background-color: $background-color;
}
.sidebar-container {
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
}

.sidebar-container__item {
  list-style: none;
  text-align: left;
  padding: 1rem;
  color: $text-color;
}

.sidebar-container__item.active,
.sidebar-container__item:hover {
  font-weight: bold;
  font-size: large;
  color: $text-color;
}
