html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  height: 100%;
  max-width: none !important;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: pink;
  justify-content: end;
}

.header__item {
  list-style: none;
  padding: 0.5rem;
}
.app {
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 20%;
  background-color: blue;
}
.sidebar-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.sidebar-container__item {
  list-style: none;
  text-align: left;
  padding: 1rem;
  color: white;
}

.main-content {
  width: 80%;
  background-color: yellow;
}

.main-content-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
